---
import Themes from '../../../Themes.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Themes Example</title>
    <Themes defaultTheme="dark" />
    <style>
      html {
        --background-color: white;
        --text-color: black;

        color: var(--text-color);
        background-color: var(--background-color);
      }

      [data-theme='dark'] {
        --background-color: black;
        --text-color: white;
      }
    </style>
  </head>
  <body>
    <h1>Astro Themes Example w/ Options</h1>
    <p>Default theme set to dark</p>

    <div>
      <button
        onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: 'light' }))"
      >
        Light
      </button>
      <button
        onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: 'dark' }))"
      >
        Dark
      </button>
      <button
        onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: null }))"
      >
        Clear theme
      </button>
    </div>

    <div>
      <a href="/">Back to basic example</a>
    </div>
  </body>
</html>
